# Data Science tools and ecosystem

## Introduction
In this notebook, data science tools and ecosystem are summarized.

## Data Science Languages
Some of the popular languages that data scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

## Data Science Libraries
Some of the commonly used libraries used by data scientist include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

## Data Science Tools
|    Data Science Tools     |
|---------------------------|
|   Jupyter Notebook        |
|   RStudio                 |
|   Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python.
 -`3+5` adds two numbers and returns `8`
 - `10-2` subtracts two numbers and returns `8`
 - `4*2` multiplies two numbers and returns `8`

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives**

- List popular languages for data science
- Identify commonly used libraries in data science
- Understand various data science tools and environments
- Demonstrate simple Python arithmetic operations

## Author
Hemavathy Rajasekaran